.App {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.maze {
	margin: 1rem;
	text-align: center;
}

.break {
	height: 2px;
	background-color: black;
	margin: 2rem 0;
}
